[Desktop Entry]
Type=Application
Name=qnote
Comment=Lightweight X11-based note-taking tool
Exec=qnote
Icon=qnote
Terminal=false
Categories=Utility;
StartupWMClass=qnote
